.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-3{
  background-color: rgb(190, 212, 232);
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: rgb(117, 191, 223);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 20, 116);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
